#ima1 {margin-left: 40%;
}
#ima1 {width: 20%;
}
#ima1 {border-color: crimson;
       border-style:double;
       border-width: 8px;
    }
    
.parte01 {background-color: rgb(138, 47, 47);
}
.parte02 {background-color: rgb(152, 117, 117);}